@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 font-sans;
}

@layer components {
  .label-padrao {
    @apply block text-sm font-semibold text-gray-600 mb-1;
  }
  .input-padrao {
    @apply w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all outline-none text-gray-800;
  }
}